
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Authentication state
auth/

# Environment
.env
# Reports and results
cucumber-report.html
playwright-report/
test-results/